<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Employee</title>
</head>
<body>
  <div id="mainDiv" >
      <div id="innerDiv">
            <form (ngSubmit)="saveEmployee()">
                    <div class="form-group"> First Name:<br/>
                        <input type="text" name="firstName" id="firstName" autocomplete="off" [(ngModel)]="employee.firstName" class="form-control"/>
                    </div><br/>
            
                    <div class="form-group">Last Name:<br/>
                        <input type="text" name="lastName"  autocomplete="off" [(ngModel)]="employee.lastName" class="form-control"/>
                    </div><br/>
            
                    <div class="form-group">Email:<br/>
                        <input type="email" name="email"  autocomplete="off" [(ngModel)]="employee.email" class="form-control"/>
                    </div><br/>
            
                    <div class="form-group">Contact Number:<br/>
                        <input type="tel"  name="contact" autocomplete="off" [(ngModel)]="employee.contact" class="form-control"/>
                    </div><br/>
                        
                    <div class="form-group">Address:<br/>
                        <textarea name="address" rows="3"  cols="22" [(ngModel)]="employee.address" class="form-control"></textarea><br/>
                    </div><br/>
            
                    <div class="form-group">Username:<br/>
                        <input type="text" name="userName"  autocomplete="off" [(ngModel)]="employee.userName" class="form-control"/>
                    </div><br/>
            
                    <div class="form-group">Password:<br/>
                        <input type="password" name="password"   autocomplete="off" [(ngModel)]="employee.password" class="form-control"/>
                    </div><br/>
            
                    <div  >Gender:<br/>
                        <input  class="genderClass" type="radio"  value="Male"  [(ngModel)]="employee.gender" name="gender">
                        <label> Male </label><br/>
                        <input class="genderClass" type="radio"  value="Female"   [(ngModel)]="employee.gender"name="gender" ><label> Female </label>
                    </div><br/>
            
                     <div >Qualification:<br/>
                        <select class="custom-select" id="qualificationId"  [(ngModel)]="employee.qualification" name="qualification">
                                <option value="" disabled selected>--select--</option>
                            <option *ngFor="let x of qualification">{{x}}</option>
                        </select>
                    </div><br/>
            
                    <div >Experience:<br/>
                        <select class="custom-select" id="experienceId"[(ngModel)]="employee.experience" name="experience">
                            <option value="" disabled selected>--select--</option>
                            <option *ngFor="let y of experience">{{y}}</option>
                        </select>
                    </div><br/>
            
                     <div>Coding Language:<br/>
                        <div *ngFor="let language of languages;let i=index">
                                <input type="checkbox" name="{{language}}" value="{{language}}"   [(ngModel)]="employee.IsEnabled[i]" >
                                <label >{{language}} </label>
                        </div>
                    </div><br/>  
            
                    <button type="submit" value="Submit">Save</button>
            </form>
      </div>
</div>
</body>
</html>